.banner{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    margin-bottom: 80px;
}

.banner div:first-child{
    font-weight: 700;
    font-size: 96px;
    color: #FFFFFF;
    padding-top: 80px;
}
.banner a{
    background-color: #92A134;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    gap: 10px;
    height: 58px;
    margin-top: 40px;
    padding-top: 16px;
    text-align: center;
    text-decoration: none;
    width: 218px;
   }

.banner a:hover {
    color: #92A134;
    background-color: white;
    transition: 0.3s;
}