.discont_product_card {
    width: 316px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    height: 422px;
    background-color: white;
}

.discont_product_card:hover {
    box-shadow: 10px 6px 18px #DDDDDD;
    transition: 0.4s;
}

.discont_product_card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
    object-fit: fill;
    height: 285px;
}

.discont_product_card > p {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 4px 8px;
    background-color: #F26D22;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    border-radius: 5px;
}

.discont_product_card_content {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.discont_product_card_content > p {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #424436;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discont_product_card_content > div {
    display: flex;
    align-items: end;
    gap: 16px;
}

.discont_product_card_content > div p:first-child {
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    color: #424436;
}

.discont_product_card_content > div p:last-child {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #8B8B8B;
    text-decoration: line-through;
}