.category_card {
    height: 392px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 316px;
}

.category_card:hover {
    padding: 1px;
    color: #92A134;
    transition: 0.1s;
}

.category_card p {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin: 0 auto;
}

.category_card img {
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #282828;
}