.category_card {
    height: fit-content;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.category_card p {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin: 0 auto;
}

.category_card img {
    width: 316px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #282828;
}