.products_card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.products_page{
    color: #282828;
}

.products_page > p{
    font-size: 64px;
    font-weight: 700;
}

.products_filter{
    display: flex;
    justify-content:flex-start;
    gap: 40px;
    font-size: 20px;
    font-weight: 600;
    margin: 40px auto;
}

.products_filter span{
    padding: 5px 0;
    white-space: nowrap;
}

.products_filter label{
    display: flex;
    text-align: center;
    gap: 16px;
    height: 36px;
}

.products_filter input{
    border-radius: 5px;
    border: 1px solid #DDDDDD;
}

.price_range{
    width: 309px;
}

.price_range input{
    width: 112px;
    padding: 8px 16px;
    color: #8B8B8B;
    font-size: 16px;
}

.products_filter input[type="checkbox"]{
    appearance: none;
    min-width: 36px;
    background-color: #FFFFFF;
    gap: 10px;
    position: relative;
}

.products_filter input[type="checkbox"]::before {
    content: "\1F5F8";
    font-size: 30px;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.products_filter input[type="checkbox"]:checked::before {
    color: #282828;
}

.products_filter select{
    width: 200px;
    background-color: #FFFFFF;
    gap: 8px;
    padding: 8px 8px 8px 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    color:  #424436;
}

@media (max-width: 1000px) {
    .products_card{
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .products_card{
        grid-template-columns: repeat(2, 1fr);
    }
    .products_page > p{
        font-size: 56px;
    }
    .products_filter{
        flex-wrap: wrap;
        margin: 32px auto;
    }
}

@media (max-width: 480px) {
    .products_page > p{
        font-size: 48px;
    }
    .products_filter{
        height: auto;
        flex-wrap: wrap;
        font-size: 18px;
        margin: 24px auto;
        gap: 32px;
    }
    .products_filter label{
        gap: 12px;
        height: 34px;
    }
    .price_range{
        width: 295px;
    }
    .price_range input{
        font-size: 14px;
    }
    .products_filter input[type="checkbox"]::before {
        font-size: 27px;
    }
    .products_filter select{
        font-size: 14px;
    }

}

@media (max-width: 360px) {
    .products_card{
        grid-template-columns: 1fr;
    }
    .products_page > p{
        font-size: 40px;
    }
}