.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
}

.header a{
    text-decoration: none;
}

.header a:hover {
    color: #92A134;
    transition: 0.2s;
}
.menu_icon {
    color: black;
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: none;

  }


  @media(max-width: 480px) {
    .menu_icon {
      display: block;
    }
}